
<div>
    <table class="table" style="display:none;">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Rating
                </th>
            </tr>
        </thead>
        <tbody id="uni_table">
        </tbody>
    </table>
    <button id="uni_refresh" class="btn btn-primary" style="display:none;">Refresh</button>
    <button id="uni_update" class="btn btn-warning" style="display:none;">Update</button>
</div>