@section scripts {
    <script type="text/javascript" src="~/js/sse-example.js"></script>
}
<div class="container">
    <div class="progress">
        <div id="progress-bar" class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row col justify-content-center">
        <small id="progress-message"></small>
    </div>
    <div id="button-container" class="row col">
        <button class="btn btn-success">Execute</button>
    </div>
</div>